<div class="login-container">
  <header class="login__header">
<div class="login__header__left">
<img src="assets/twitter-logo.png" alt="logo">
<h2>Twitter helps you connect and share your  <br>
  thoughts with the people in your life.</h2>  
</div>

<div class="login__header__right" >
  <mat-card class="login__header__right__card">
      <mat-card-content class="login__header__right__card__content">
          <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
              <input type="text" formControlName="email" placeholder="Email address or phone number" required>
              <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                <div *ngIf="loginForm.controls['email'].errors['required']" class="error-message error-required">Email is required</div>
                <div *ngIf="loginForm.controls['email'].errors['email']" class="error-message">Invalid email format</div>
              </div>
            
              <input type="password" formControlName="password" placeholder="Password" required>
              <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                <div *ngIf="loginForm.controls['password'].errors['required']" class="error-message error-required">Password is required</div>
              </div>
            
              <button type="submit" class="login-button">Log in</button>
            </form>
            
            
            
            
       <br><a href="#" style="color: blue; margin-top: 270px;position: fixed;">Forgotten account?</a>
          <hr>
          <button class="create-account" click="openRegister()">Create New Account</button>
      </mat-card-content>
  </mat-card>

  <br><P class="tagline"><strong>Create a Page</strong>  for a celebrity, brand or business.</P>

</div>

  </header>
 
</div>
